body
{
    padding: 0px;
    margin:0;
    display:flex;
    flex-direction:column;
}

.hero
{
    display: flex;
    flex-direction: column;
}

.hero2
{
    display:flex;
    justify-content: center;
    
    padding-bottom: 80px;
    padding-top: 80px;
}

nav
{
    display:flex;
    justify-content: space-around;
}

nav > ul
{
    list-style: none;
    display: flex;
    gap: 10px;
}

a
{
    text-decoration: none;
}

button
{
    padding: 5px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.pic{
    padding :50px 150px;
    
    background-color: rgb(61, 107, 134);
    margin: 10px;
}

.text
{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    
}

/* 2nd section*/
.info
{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    
}

.boxes
{
   display: flex;
   max-width:600px;
   
  align-items: center;
  justify-content: center;
}
.box
{
    margin:10px;
}

.box > div
{
    min-width: 200px;
    min-height: 200px;
    border: #3882f6 solid 2px;
    border-radius: 10px;
    
}

/* third section*/

.quote
{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quote > div
{
    max-width: 50%;
    margin-top: 80px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
}

.quote > div > h2
{
    align-self: flex-end;
}


/* fourth section*/
.call
{
    display:flex;
   justify-content: center;
   align-items: center;
}

.outer
{
    margin: 50px;
    min-width: 60%;
    border-radius: 5px;
    display:flex;
    justify-content: space-around;
  
}
.button
{
    display:flex;
    align-items: center;
    justify-content: center;
}
.button >button
{
    border-color: white;
}
/* footer */
footer
{
    display:flex;
    justify-content: center;
}
/* background,font color and styling section */
.bc1
{
    background-color: #1f2937;
}

.bc2
{
    background-color: #3882f6;
}

.bc3
{
    background-color: #e5e7eb;
}

.fc1
{
    color: #f9FAF8;
}

.fc2
{
    color: #e5e7eb;
}

.fc3
{
    color:#1f2937
}

.fs1
{
    font-size: 18px;
}

.fs2
{
    font-size: 24px;
}

.fs3
{
    font-size: 36px;
}

.fs4
{
    font-size: 48px;
}



.em{
    font-weight: bolder;
}
.it
{
    font-style: italic;
}
.padzero{
    padding: 0;
}

.mt0{
    margin-top: 0;
}
.mb0
{
    margin-bottom: 0;
}
.mt10{
    margin-top:10px;
}
.mb10
{
    margin-bottom:10px
}
.mb80
{
    margin-bottom: 80px;
}
