body
{
    padding: 0;
    margin: 100px;
}

.wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid green;
    flex-direction: column;
}

ul
{
    list-style: none;
}